*.wav
*.mp3
*__pycache__/
__pycache__*
.venv
ollama.py
voices/
script.json

tts/data/*
tts/podcasts/*

# For test
!tts/data/123/whales.json

# gemini
gemini/.venv
!gemini/app
!gemini/src/
!gemini/requirements.txt
google-key.json

# Data
data/