*.wav
*.wav
*__pycache__/
__pycache__*
.venv
ollama.py
script.json


# For TTS
tts/data/*
tts/podcasts/*
tts/voices

# For test
!tts/data/123/whales.json

# gemini
gemini/.venv
!gemini/app
!gemini/src/
!gemini/requirements.txt
google-key.json
firebase-key.json

# Data
data/