<!DOCTYPE html>
<html>

<head>
    <title>Sign Up</title>
    <link rel="stylesheet" href="/static/styles/auth.css">

</head>

<body>
    <div class="page-transition"></div>
    <div class="content-wrapper">
        <div class="container">
            <h2 class="title">Sign Up</h2>
            <form class="form" id="signupForm" method="POST">
                <input type="text" name="username" placeholder="Username" required class="input">
                <input type="email" name="email" placeholder="Email" required class="input">
                <input type="password" name="password" id="password" placeholder="Password" required class="input">
                <div id="passwordStrength" class="password-strength"></div>
                <button type="submit" class="button">Sign Up</button>
            </form>
            <p>Already have an account? <a href="/login">Login</a></p>
            <div id="errorPopup" class="error-popup"></div>
        </div>

        <script src="/static/js/auth.js"></script>
    </div>
</body>

</html>