<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
    <link rel="stylesheet" href="/static/styles/auth.css">
</head>
<body>
    <div class="container">
        <h2 class="title">Sign Up</h2>
        <form action="/signup" method="post" class="form">
            <input type="email" name="email" placeholder="Email" class="input" required>
            <input type="text" name="username" placeholder="Username" class="input" required>
            <input type="password" name="password" placeholder="Password" class="input" required>
            <input type="submit" value="Sign Up" class="button">
        </form>
        <p class="switch">Already have an account? <a href="/login" class="link">Login</a></p>
    </div>
</body>
</html>
